@charset "UTF-8";

@import "main";
@import "recom_item";

//@import "address";

//首页
#p-index {
  background-color: $c_page_bg_1;
  .title, h2 {
    height: px2rem(60);
    line-height: px2rem(60);
    font-size: px2rem(32);
    text-align: center;
  }

  .box {
    padding: 0 px2rem(20);
    margin-bottom: $c-bottom-guide-height;

    & > a {
      //display: block;
      display: inline-block;
      width: px2rem(290);
      padding-bottom: px2rem(20);
      &:nth-child(odd) {
        float: right;
      }
    }

    img {
      display: block;
      //width: px2rem(290);
      width: 100%;
      height: px2rem(232);
    }
    .detail-box {
      padding: px2rem(20);
      border: 1px solid #DBDBDB;
      border-top: 0;
      background-color: white;
    }
  }
}

//购买页
#p-buy {
  //position: absolute;
  //width: 100%;
  background-color: $c_page_bg_1;
  font-size: px2rem(28);
  //& > *:last-child {
  //  margin-bottom: 0;
  //}
  section {
    margin-bottom: px2rem(12);
    &:last-child {
      //margin-bottom: 0;
    }
  }
  .block {
    padding: px2rem(34) px2rem(40);
  }
  .address {
    //height: px2rem(120);
    background-image: url(../img/caidai.png);
    background-repeat: repeat-x;
    span {
      margin-right: px2rem(37);
    }
    .info {
      & > *:first-child {
        margin-bottom: px2rem(12);
      }
    }
    .text {
      color: #676767;
    }

    img.icon {
      transform: translateY(px2rem(25));
    }
  }
  .item-list {
    & > * {
      height: px2rem(170);
    }
    img {
      width: px2rem(170);
      height: px2rem(170);
    }
    .detail {
      margin-left: px2rem(20);
      padding-top: px2rem(26);
      div {
        color: #444;
      }
    }
    h2 {
      font-size: px2rem(28);
      margin-bottom: px2rem(44);
    }
  }

  //运费
  .freight {
    & > *:last-child {
      color: #676767;
    }
    span {
      color: #BFBFBF;
    }
  }
  //支付金额
  .amount {
    color: #F36043;
    & > *:first-child {
      //padding-top: px2rem(10);
      line-height: px2rem(48);
    }
    & > *:last-child {
      font-size: px2rem(48);
    }
  }
  .pay {
    line-height: px2rem(85);
    img {
      width: px2rem(85);
      height: px2rem(85);
    }
  }
  .memo {
    & > *:first-child {
      margin-right: px2rem(37);
    }
  }

  img.icon {
    width: px2rem(28);
    height: px2rem(28);
    margin-left: px2rem(10);
    transform: translateY(px2rem(5));
  }

  //.a-right::after {
  //  display: inline-block;
  //  font: normal normal normal 1.6rem/1 FontAwesome, sans-serif;
  //  font-size: inherit;
  //  text-rendering: auto;
  //  -webkit-font-smoothing: antialiased;
  //  -moz-osx-font-smoothing: grayscale;
  //  transform: translate(0, 0);
  //  content: ">";
  //  position: absolute;
  //  right: 0.5rem;
  //  color: #ccc;
  //  top: 50%;
  //  margin-top: -0.25rem;
  //  font-size: larger;
  //}
}

//订单支付结果页
#p-pay-result {
  background-color: $c_page_bg_1;
  font-size: px2rem(24);
  color: #878787;

  .box {
    background-color: white;
    text-align: center;
    padding: px2rem(20) 0 px2rem(46) 0;
    //padding-bottom: px2rem(46);
  }
  .img {
    width: px2rem(158);
    height: px2rem(148);
    margin: 0 auto;
    margin-bottom: px2rem(20);
    img {
      width: 100%;
      height: 100%;
    }
  }
}

//登录
#p-login {
  text-align: center;
  .logo {
    width: px2rem(228);
    height: px2rem(228);
    margin: 0 auto;
    //margin-top: px2rem(60);
    padding-top: px2rem(60);
    margin-bottom: px2rem(100);

    img {
      width: 100%;
    }
  }
  form {
    padding: px2rem(24);
    padding-bottom: 0;
    font-size: px2rem(30);
  }
  .box {
    padding: 0 px2rem(34);
    margin-bottom: px2rem(30);
    border: 1px solid #C7C7C7;
    & > * {
      height: px2rem(96);
      line-height: px2rem(96);
    }
    & > *:first-child {
      border-bottom: 1px solid #C7C7C7;
    }
    .send-sms {
      color: #C7C7C7;
    }
    .send-sms.activity {
      color: #11C258;
    }
  }
  input, button {
    width: 100%;
    border: none;
  }

  .submit {
    height: px2rem(90);
    border: 1px solid #C7C7C7;
    background-color: white;
    font-size: px2rem(34);
  }
}

//我的地址列表
#p-address {
  padding-top: px2rem(16);
  background-color: $c_page_bg_1;
  font-size: px2rem(28);

  img {
    width: px2rem(34);
    height: px2rem(34);
  }
  .row {
    & > *:last-child {
      margin-left: px2rem(16);
    }
  }
  .add {
    span {
      //margin-left: px2rem(16);
      line-height: px2rem(34);
      color: #00C453;
    }
  }
  .item-list {
    img {
      margin-top: px2rem((73-34)/2);
      &.default {
        display: none;
      }
    }
    //& > *:last-child {
    .info {
      margin-left: px2rem(34+16);
    }
    p:first-child {
      margin-bottom: px2rem(10);
    }
  }
  .activity {
    img.default {
      display: block;
    }
    //& > *:last-child {
    .info {
      margin-left: px2rem(16);
    }
  }
  .user-info {
    & > * {
      margin-right: px2rem(72);
    }
  }
  .address-info {
    font-size: px2rem(24);
    color: #616263;
  }

  .i-edit {
    width: px2rem(50);
    height: px2rem(50);
    margin-top: px2rem((73-50)/2);
  }
}

//我的地址详情
#p-address-detail {
  background-color: $c_page_bg_1;

  & > * {
    padding: 0 px2rem(42);
  }

  input {
    border: 0;
    width: 100%;
  }
  //select {
  //  border: 0;
  //  width: 100%;
  //  height: px2rem(94);
  //  line-height: px2rem(94);
  //  background-color: white;
  //}
  .styled-select {
    //width: 240px;
    width: 100%;
    //height: 34px;
    height: px2rem(94);
    overflow: hidden;
    //background: url(new_arrow.png) no-repeat right #ddd;
  }
  .styled-select select {
    background: transparent;
    //width: 268px;
    width: 90%;
    //padding: 5px;
    //font-size: 16px;
    //border: 1px solid #ccc;
    border: 0;
    //height: 34px;
    height: px2rem(94);
    -webkit-appearance: none; /*for chrome*/
  }

  .head {
    height: px2rem(66);
    line-height: px2rem(66);

    //background-color: #EAEEEE;
    border-top: 1px solid #DEE4E3;
    border-bottom: 1px solid #DEE4E3;
  }
  .body {
    height: px2rem(94);
    line-height: px2rem(94);
    border-bottom: 1px solid #F3F6F7;
    background-color: #FDFEFF;
  }

  .zone {
    img {
      width: px2rem(34);
      height: px2rem(34);
      display: inline-block;
      //vertical-align: middle;
      //vertical-align: px2rem(-5);
      vertical-align: sub;
      margin-right: px2rem(10);
    }
  }

  .btn-box {
    padding: 0;
    padding-top: px2rem(30);
    text-align: center;
    .btn {
      width: px2rem(584);
      height: px2rem(74);
      font-size: px2rem(30);
      background-color: #E56046;
      color: white;
      border-radius: px2rem(6);
    }
  }
}

//留言
#p-memo, #p-input {
  padding-top: px2rem(16);
  background-color: $c_page_bg_1;
  textarea {
    width: 100%;
    padding: px2rem(22) px2rem(36);
    background-color: white;
  }
  .btn-box {
    padding: 0;
    padding-top: px2rem(30);
    text-align: center;
    .btn {
      width: px2rem(584);
      height: px2rem(74);
      font-size: px2rem(30);
      background-color: #E56046;
      color: white;
      border-radius: px2rem(6);
    }
  }
}

@import "base/after";

//.staggered-transition {
//  transition: all .5s ease;
//  overflow: hidden;
//  margin: 0;
//  //height: 20px;
//}
//
//.staggered-enter, .staggered-leave {
//  opacity: 0;
//  height: 0;
//}
